extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="/img/nosotros.jpg", alt="Imagen Nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc lectus nibh, auctor ut mi et, vehicula consectetur eros. Vestibulum suscipit facilisis erat, vitae fermentum dui aliquet quis. Cras blandit enim sit amet eros sagittis fermentum et a felis. In eu mauris eget magna rhoncus placerat ut in libero.

                p Vivamus tincidunt arcu ut dictum condimentum. Nunc sit amet ligula ac velit laoreet accumsan sed et enim. Ut vestibulum leo in neque efficitur, quis ultricies massa gravida. Quisque rutrum id erat id tincidunt. Vivamus lacus nisi, semper eget semper sit amet, blandit quis tortor. Proin lectus ex, cursus quis ante nec, ullamcorper molestie.

                p Donec dictum est turpis, a auctor diam tempor vel. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent condimentum neque quis felis tempus aliquet. Donec congue sagittis maximus. Morbi cursus, tellus at malesuada rutrum, elit urna laoreet nisl, sit amet congue nibh nibh quis urna. In scelerisque scelerisque metus et egestas. Proin non metus ligula. Aenean id lacus eu magna commodo eleifend. Fusce pretium eros sit amet pharetra sollicitudin. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Fusce sit amet lorem eros. Nullam vel nulla lectus.

    .listado-iconos 
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4
                    img(src="/img/icono_seguridad.svg", alt="Icono Seguridad")
                    h2.mb-4 Seguridad 
                    p Fusce pretium eros sit amet pharetra sollicitudin. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Fusce sit amet lorem eros. Nullam vel nulla lectus.

                .col-md-4
                    img(src="/img/icono_destinos.svg", alt="Icono Destinos")
                    h2.mb-4 Destinos 
                    p Fusce pretium eros sit amet pharetra sollicitudin. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Fusce sit amet lorem eros. Nullam vel nulla lectus.

                .col-md-4
                    img(src="/img/icono_precios.svg", alt="Icono Precios")
                    h2.mb-4 Precios
                    p Fusce pretium eros sit amet pharetra sollicitudin. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Fusce sit amet lorem eros. Nullam vel nulla lectus.